.wrapper {
    max-width: 1880px;
}
.wrapper img {
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
}

@media (max-width: 1670px) {    
    .wrapper img {
        border-radius: 40px;
        min-height: 800px;
    }
}
@media (max-width: 1300px) {    
    .wrapper img {
        border-radius: 32px;
        min-height: 650px;
    }
}
@media (max-width: 1024px) {    
    .wrapper img {
        border-radius: 25px;
        min-height: 450px;
    }
}
