.block {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.leftBlock {
    width: 47%;
    padding: 56px 46px 74px;
    border-radius: 50px;
    background: #1b1b1b;
    color: #e2e2e2;
    font-family: Onest, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text1 {
    margin-top: 96px;
    color: #fff;
    font-size: 60px;
    max-width: 679px;
}

.btn {
    margin: 35px auto 0;
    padding: 27px 128px;
    display: flex;
    color: #000;
    text-align: center;
    font-family: Onest, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    border-radius: 50px;
    background: #cff928;
    border: 1px solid #cff928;
}

.rightBlock {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 92px;
}

.developer {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 33px;

    width: 100%;
    padding: 42px 52px;
    border-radius: 50px;
    background: #cff928;
}

.number {
    padding: 35px 30px;
    color: #cff928;

    font-family: Onest, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 40px;
    background: #1b1b1b;
}

.blockInfo {
    width: 100%;
}

.title {
    position: relative;
    color: #000;
    font-family: Onest, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title::before {
    position: absolute;
    content: "";
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #000;
}

.description {
    color: #000;
    font-family: Onest, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 39.5px;
}

@media (max-width: 1540px) {
    .leftBlock {
        padding: 56px 46px 74px;
        font-size: 28px;
    }

    .text1 {
        font-size: 46px;
        max-width: 600px;
    }

    .btn {
        margin: 31px auto 0;
        padding: 25px 120px;
        font-size: 28px;
    }

    .rightBlock {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 112px;
    }

    .developer {
        padding: 42px 52px;
    }

    .number {
        font-size: 44px;
    }

    .title {
        font-size: 44px;
    }

    .description {
        font-size: 20px;
    }
}

@media (max-width: 1364px) {
    .leftBlock {
        padding: 54px 44px 72px;
        font-size: 26px;
    }

    .rightBlock {
        gap: 79px;
    }

    .text1 {
        font-size: 43px;
        max-width: 580px;
    }
}

@media (max-width: 1280px) {
    .leftBlock {
        width: 47%;
        padding: 36px 30px 42px;
        border-radius: 32px;
        font-size: 20px;
    }

    .text1 {
        margin-top: 62px;
        font-size: 35px;
        max-width: 440px;
    }

    .btn {
        margin: 18px auto 0;
        padding: 18px 81px;
        font-size: 20px;
        border-radius: 32px;
    }

    .rightBlock {
        gap: 66px;
    }

    .developer {
        gap: 21px;
        padding: 27px 33px;
        border-radius: 32px;
    }

    .number {
        padding: 22px 19px;
        font-size: 31px;
        border-radius: 25px;
    }

    .title {
        font-size: 32px;
    }

    .description {
        font-size: 16px;
        line-height: 25px;
    }
}

@media (max-width: 1024px) {
    .block {
        flex-direction: column;
    }

    .leftBlock {
        width: 100%;
        padding: 28px 23px 42px;
        border-radius: 30px;
        font-size: 16px;
    }

    .text1 {
        margin-top: 40px;
        font-size: 30px;
        max-width: 100%;
        text-align: center;
    }

    .btn {
        margin: 20px auto 0;
        padding: 14px 65px;
        font-size: 16px;
        border-radius: 30px;
    }

    .rightBlock {
        margin-top: 10px;
        width: 100%;
        gap: 10px;
    }

    .developer {
        gap: 16px;
        padding: 20px 25px;
        border-radius: 30px;
    }

    .number {
        padding: 17px 14px;
        font-size: 23px;
        border-radius: 20px;
    }

    .title {
        font-size: 24px;
    }

    .description {
        font-size: 16px;
        line-height: 19px;
    }
}
