.container {
    padding: 35px 89px 39px 47px;
    border-radius: 50px;
    background: #1b1b1b;
    display: flex;
    justify-content: space-between;
}
.blockContent {
    max-width: 667px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    color: #e2e2e2;
    font-size: 32px;
    font-weight: 400;
}

.contentText {
    color: #fff;
    font-family: Onest, sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 82px;
}
.text {
    max-width: 623px;
    color: #fff;
    font-family: Onest, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    margin-top: 35px;
}

.blockImg {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 50px;
}
.blockImg img {
    width: 100%;
}

@media (max-width: 1670px) {
    .container {
        padding: 22px 57px 25px 30px;
        border-radius: 32px;
        gap: 22px;
    }
    .blockContent {
        max-width: 464px;
        gap: 78px;
    }
    .title {
        font-size: 20px;
    }
    .contentText {
        font-size: 48px;
        line-height: 1.27em;
    }
    .text {
        max-width: 402px;
        font-size: 16px;
        margin-top: 25px;
        line-height: 25px;
    }
    .blockImg {
        gap: 32px;
    }
}
@media (max-width: 1275px) {
    .contentText {
        font-size: 46px;
    }
    .text {
        line-height: 24px;
    }
}
