.container {
    max-width: 1880px;
}

@media (max-width: 1670px) {
    .container {
        max-width: 1630px;
    }
}
@media (max-width: 1280px) {
    .container {
        max-width: 1214px;
    }
}
@media (max-width: 1240px) {
    .container {
        max-width: 1174px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 910px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 690px;
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 450px;
    }
}