.blockBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn {
    padding: 10px;
    background-color: #1b1b1b;
    border: 1px solid #1b1b1b;
    border-radius: 5px;
    color: white;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}