.block {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.leftBlock {
    width: 49%;
}

.groupText {
    padding: 23px 47px 41px;
    border-radius: 50px;
    background: #1B1B1B;
    color: #E2E2E2; 
    font-family: Onest, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.text {
    margin-top: 133px;
    max-width: 82%;
    font-size: 30px;
    line-height: 39px;
}

.groupCount {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 37px;
    padding: 83px 19px 84px 47px;
    border-radius: 50px;
    background: #CFF928;
}

.team {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    font-family: Onest, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.teamName {
    max-width: 28%;
}

.img {
    width: 100%;
    max-width: 500px;
}

.img img {
    width: 100%;
    object-fit: cover;
}

.countTeam {
    max-width: 9%;
}

.wrapperImg {
    max-width: 930px;
    width: 49%;
}

.wrapperImg img {
    width: 100%;
    height: 100%;
}


@media (max-width: 1670px) {
    
    .groupText {
        padding: 20px 40px 35px;
        border-radius: 40px;
        font-size: 26px;
    }
    
    .text {
        margin-top: 110px;
        font-size: 26px;
    }
    
    .groupCount {
        gap: 28px;
        margin-top: 30px;
        padding: 70px 15px 70px 40px;
        border-radius: 40px;
    }
    
    .team {
        font-size: 30px;
    }
    
    .img {
        width: 100%;
        max-width: 330px;
    }
    
    .wrapperImg {
        max-width: 800px;
    }
}

@media (max-width: 1300px) {
    
    .groupText {
        padding: 14px 29px 8px;
        border-radius: 32px;
        font-size: 20px;
    }
    
    .text {
        margin-top: 100px;
        font-size: 20px;
        line-height: 25px;
    }
    
    .groupCount {
        gap: 20px;
        margin-top: 23px;
        padding: 52px 20px;
        border-radius: 32px;
    }
    
    .team {
        font-size: 22px;
    }
    
    .img {
        max-width: 290px;
    }
    
    .wrapperImg {
        max-width: 580px;
    }
}

@media (max-width: 1024px) {
    .block {
        display: flex;
        flex-direction: column;
    }
    
    .leftBlock {
        width: 100%;
    }
    
    .groupText {
        padding: 11px 22px;
        border-radius: 25px;
        font-size: 16px;
        text-align: center;
    }
    
    .text {
        margin-top: 62px;
        max-width: 100%;
        font-size: 18px;
        line-height: 19px;
    }
    
    .groupCount {
        gap: 15px;
        margin-top: 10px;
        padding: 23px 11px;
        border-radius: 25px;
    }
    
    .team {
        font-size: 18px;
    }
    
    .img {
        max-width: 230px;
    }
    
    .wrapperImg {
        margin-top: 10px;
        max-width: 1300px;
        width: 100%;
    }
}