.wrapper {
    position: relative;
    padding: 128px 100px;
    border-radius: 50px;
    background: #cff928;
}
.title {
    position: absolute;
    left: 47px;
    top: 35px;
    color: #1b1b1b;
    font-family: Onest, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.reviews {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 100px;
}
.leftBlock {
    width: 100%;
    max-width: 674px;
    height: 100%;

    color: #141414;
    font-family: Onest, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
}
.review {
    max-height: 704px;
    overflow: overlay;
}
.review::-webkit-scrollbar {
    display: none;
}
.mentor {
    margin-top: 60px;
    font-weight: 600;
    text-transform: uppercase;
}

.listReviews {
    padding: 60px 47px;
    width: 100%;
    max-width: 910px;
    border-radius: 50px;
    background: #1b1b1b;
}
.reviewJun {
    max-width: 522px;
    min-width: 400px;
    max-height: 650px;
    color: #fff;
    font-family: Onest, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    overflow: overlay;
}
.reviewJun::-webkit-scrollbar {
    display: none;
}
.reviewJunBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 47px;
}
.junior {
    margin-top: 33px;
    color: #c1c1c1;
    font-family: Onest, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.arrow {
    width: 100px;
    height: 59px;
    cursor: pointer;
}

@media (max-width: 1670px) {
    .wrapper {
        padding: 80px 64px;
        border-radius: 32px;
    }
    .title {
        left: 30px;
        top: 22px;
        font-size: 20px;
    }
    .reviews {
        gap: 73px;
    }
    .leftBlock {
        max-width: 423px;
        font-size: 16px;
    }
    .review {
        max-height: 460px;
    }
    .mentor {
        margin-top: 40px;
    }

    .listReviews {
        padding: 38px 30px;
        max-width: 590px;
        border-radius: 32px;
    }
    .reviewJun {
        max-width: 340px;
        min-width: 300px;
        max-height: 400px;
        font-size: 16px;
    }
    .reviewJunBlock {
        gap: 30px;
    }
    .junior {
        margin-top: 20px;
        font-size: 16px;
    }
    .arrow {
        width: 64px;
        height: 38px;
    }
}

@media (max-width: 1300px) {
    .wrapper {
        padding: 79px 62px;
        border-radius: 31px;
    }
    .title {
        left: 29px;
        top: 22px;
        font-size: 20px;
    }
    .reviews {
        gap: 62px;
    }
    .leftBlock {
        max-width: 410px;
    }
    .review {
        max-height: 442px;
    }
    .mentor {
        margin-top: 37px;
    }

    .listReviews {
        padding: 37px 29px;
        max-width: 568px;
        border-radius: 31px;
    }
    .reviewJun {
        max-width: 325px;
        min-width: 250px;
        max-height: 400px;
    }
    .reviewJunBlock {
        gap: 29px;
    }
    .junior {
        margin-top: 22px;
    }
    .arrow {
        width: 62px;
        height: 37px;
    }
}
@media (max-width: 1024px) {
    .wrapper {
        padding: 20px 16px;
        border-radius: 25px;
    }
    .title {
        left: 16px;
        top: 20px;
        font-size: 16px;
    }
    .reviews {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 20px;
    }
    .leftBlock {
        margin-top: 36px;
        max-width: 100%;
        font-size: 14px;
    }
    .review {
        max-height: 360px;
    }
    .mentor {
        margin-top: 16px;
        font-size: 16px;
        font-weight: 600;
    }

    .listReviews {
        padding: 30px 16px;
        max-width: 992px;
        border-radius: 12px;
    }
    .reviewJun {
        max-width: 100%;
        min-width: 100%;
        height: 360px;
        max-height: 360px;

        font-size: 14px;
    }
    .reviewJunBlock {
        gap: 12px;
    }
    .junior {
        margin-top: 10px;
        font-size: 14px;
    }
    .arrow {
        width: 20px;
        height: 14px;
    }
}
