.wrapper {
    padding: 35px 40px;
    border-radius: 50px;
    background: #1b1b1b;
    display: flex;
}

.blockContent {
    max-width: 708px;
}

.title {
    color: #e2e2e2;
    font-size: 32px;
    font-weight: 400;
}
.text {
    margin-top: 55px;
    color: #fff;
    font-family: Onest, sans-serif;
    font-size: 64px;
    line-height: 80px;
}
.blockImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    padding: 93px 0 93px;
}
.blockImg img {
    width: 100%;
}

@media (max-width: 1670px) {
    .wrapper {
        padding: 22px 25px;
        border-radius: 32px;
    }

    .blockContent {
        max-width: 458px;
    }

    .title {
        font-size: 20px;
    }
    .text {
        margin-top: 34px;
        font-size: 42px;
        line-height: 1.29em;
    }
    .blockImg {
        max-width: 661px;
        gap: 45px;
        padding: 60px 0 60px;
    }
    .blockImg img {
        width: 100%;
    }
}
@media (max-width: 1275px) {
    .text {
        font-size: 41px;
    }
}
