.block {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 35px 47px 129px;
    border-radius: 50px;
    background: #1B1B1B;
}

.title {
    position: absolute;
    top: 35px;
    left: 47px;
    color: #FFF;
    font-family: Onest, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.wrapperImg {
    position: relative;
    margin-top: 93px;
    width: 100%;
    max-width: 478px;
}

.img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 200px;
}

.text {
    position: absolute;
    left: 50%;
    bottom: 99px;
    transform: translate(-50%);
    color: #FFF;
    font-family: Onest, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 39.5px;
}

@media (max-width: 1670px) {
    .block {
        border-radius: 40px;
    }
    
    .title {
        font-size: 28px;
    }
    
    .wrapperImg {
        margin-top: 75px;
        width: 100%;
        max-width: 350px;
    }

    .img {
        border-radius: 150px;
    }

    .text {
        bottom: 80px;
        font-size: 40px;
    }
}

@media (max-width: 1300px) {
    .block {
        padding: 22px 30px 81px;
        border-radius: 32px;
    }
    
    .title {
        top: 22px;
        left: 30px;
        font-size: 20px;
    }
    
    .wrapperImg {
        margin-top: 58px;
        max-width: 290px;
    }
    .img {
        border-radius: 130px;
    }
    
    .text {
        bottom: 60px;
        font-size: 31px;
        line-height: 24px;
    }
}

@media (max-width: 1024px) {
    .block {
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
        padding: 24px 26px;
        border-radius: 25px;
    }
    
    .title {
        top: 24px;
        left: 26px;
        font-size: 16px;
    }
    
    .wrapperImg {
        margin-top: 30px;
    }
    .img {
        border-radius: 100px;
        min-height: 450px;
    }
    
    .text {
        left: 50%;
        bottom: 99px;
        font-size: 25px;
        line-height: 10px;
    }
}